<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tinkoff.tourism.dao.sights.MuseumRepository">

    <insert id="addSight" parameterType="tinkoff.tourism.model.sights.Museum">
        INSERT INTO museums (name, type, xCoordinate, yCoordinate, description, siteLink, openTime, closeTime, price, discountForChildren)
        VALUES (#{name}, #{type}, #{xCoordinate}, #{yCoordinate}, #{description}, #{siteLink}, #{openTime}, #{closeTime}, #{price}, #{discountForChildren})
    </insert>

    <select id="findAll" resultMap="MuseumMap">
        SELECT *
        FROM museums
    </select>

    <select id="findById" resultMap="MuseumMap">
        SELECT *
        FROM museums
        WHERE museums.id = #{id}
    </select>

    <select id="findByName" resultMap="MuseumMap">
        SELECT *
        FROM museums
        WHERE museums.name = #{name}
    </select>

    <update id="updateSight" parameterType="tinkoff.tourism.model.sights.Museum">
        UPDATE museums
        SET NAME        = #{name},
            TYPE        = #{type},
            XCOORDINATE = #{xCoordinate},
            YCOORDINATE = #{yCoordinate},
            DESCRIPTION = #{description},
            SITELINK = #{siteLink},
            OPENTIME = #{openTime},
            CLOSETIME = #{closeTime},
            PRICE = #{price},
            DISCOUNTFORCHILDREN = #{discountForChildren}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM museums
        WHERE ID = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM museums
    </delete>

    <resultMap id="MuseumMap" type="tinkoff.tourism.model.sights.Museum">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="xCoordinate" column="xCoordinate"/>
        <result property="yCoordinate" column="yCoordinate"/>
        <result property="description" column="description"/>
        <result property="siteLink" column="siteLink"/>
        <result property="openTime" column="openTime"/>
        <result property="closeTime" column="closeTime"/>
        <result property="price" column="price"/>
        <result property="discountForChildren" column="discountForChildren"/>
    </resultMap>

</mapper>